# Instalando Bibliotecas

In [1]:
from sqlalchemy import create_engine
from pandas import json_normalize
import pandas as pd
import json

## Conectando com o banco

In [4]:
engine = create_engine("sqlite:///OLTP.db")

#### Resgatando query de marca e modelo

In [13]:
produto_query = '''
SELECT REPLACE(Mod.Descricao, ' ', '') || Mar.Descricao as ID_Produto
    , Mod.Descricao as Modelo
    , Mar.Descricao as Marca
FROM Modelo as Mod
JOIN Marca as Mar on Mod.ID_Marca = Mar.ID_Marca
'''

df = pd.read_sql(produto_query, engine)
print(df.head(5))

                     ID_Produto                    Modelo    Marca
0              iPhone13ProApple             iPhone 13 Pro    Apple
1  SamsungGalaxyS21UltraSamsung  Samsung Galaxy S21 Ultra  Samsung
2         GooglePixel6ProGoogle        Google Pixel 6 Pro   Google
3            OnePlus9ProOnePlus             OnePlus 9 Pro  OnePlus
4         XiaomiMi11UltraXiamoi        Xiaomi Mi 11 Ultra   Xiamoi

#### Resgatando query de cidade e estado

In [22]:
cep_query = '''
WITH CidadesCorrigidas AS (
    SELECT 
        CASE 
            WHEN Cid.Descricao = 'SP' THEN 'Sao Paulo'
            WHEN Cid.Descricao = 'SSA' THEN 'Salvador'
            WHEN Cid.Descricao = 'RJ' THEN 'Rio de Janeiro'
            ELSE Cid.Descricao
        END AS CidadeCorrigida
        , Est.Descricao AS Estado
    FROM Cidade AS Cid
    JOIN Estado AS Est ON Cid.ID_Estado = Est.ID_Estado
)
SELECT REPLACE(CidadeCorrigida, ' ', '') || Estado AS ID_Cep
    , CidadeCorrigida AS Cidade
    , Estado
FROM CidadesCorrigidas;
'''

df = pd.read_sql(cep_query, engine)
print(df.head(5))

           ID_Cep      Cidade    Estado
0   RioBrancoAcre  Rio Branco      Acre
1   MaceioAlagoas      Maceio   Alagoas
2     MacapaAmapa      Macapa     Amapa
3  ManausAmazonas      Manaus  Amazonas
4   SalvadorBahia    Salvador     Bahia

#### Resgatando query de quadrimestre e ano

###### A função CAST((CAST... e strftime(... Pode ser suibstituida por EXTRACT ou DATEPART no SQL Server ou outras no Oracle

In [25]:
tempo_query = '''
WITH TempoCalculado AS (
    SELECT 
        CASE 
            WHEN strftime('%m', Data) BETWEEN '01' AND '04' THEN 1
            WHEN strftime('%m', Data) BETWEEN '05' AND '08' THEN 2
            WHEN strftime('%m', Data) BETWEEN '09' AND '12' THEN 3
        END AS Quadrimestre
        , strftime('%Y', Data) as Ano
    FROM Compra
)
SELECT Ano || Quadrimestre AS ID_Tempo
    , Quadrimestre
    , Ano
FROM TempoCalculado
'''

df = pd.read_sql(tempo_query, engine)
print(df.head(5))

  ID_Tempo  Quadrimestre   Ano
0    20243             3  2024
1    20231             1  2023
2    20242             2  2024
3    20221             1  2022
4    20232             2  2023

#### Resgatando cliente

In [29]:
with open(r'OLTP\Clientes_Dados_Complementar.json') as f:
    data = json.load(f)#### Resgatando query de cliente

df = json_normalize(data, 'Cliente', sep='_')
df = df.rename(columns={'ID': 'ID_Cliente'})
print(df.drop('Qtde_filhos',axis=1))

    ID_Cliente Estado_civil
0            1            S
1            2            C
2            3            C
3            4            S
4            5            C
..         ...          ...
85          86            C
86          87            S
87          88            C
88          89            C
89          90            C

[90 rows x 2 columns]