# Instalando Bibliotecas

In [5]:
from sqlalchemy import create_engine
import pandas as pd

## Conectando com o banco

In [8]:
engine = create_engine("sqlite:///OLTP.db")

#### Resgatando query de marca e modelo

In [18]:
modelo_query = '''
SELECT Mod.Descricao as Modelo
    , Mar.Descricao as Marca
FROM Modelo as Mod
JOIN Marca as Mar on Mod.ID_Marca = Mar.ID_Marca
'''

df = pd.read_sql(produto_query, engine)
print(df.head(5))

                     Modelo    Marca
0             iPhone 13 Pro    Apple
1  Samsung Galaxy S21 Ultra  Samsung
2        Google Pixel 6 Pro   Google
3             OnePlus 9 Pro  OnePlus
4        Xiaomi Mi 11 Ultra   Xiamoi

#### Resgatando query de cidade e estado

In [21]:
cep_query = '''
SELECT Cid.Descricao as Cidade
    , Est.Descricao as Estado
FROM Cidade as Cid
JOIN Estado as Est on Cid.ID_Estado = Est.ID_Estado
'''

df = pd.read_sql(cep_query, engine)
print(df.head(5))

       Cidade    Estado
0  Rio Branco      Acre
1      Maceio   Alagoas
2      Macapa     Amapa
3      Manaus  Amazonas
4    Salvador     Bahia

#### Resgatando query de quadrimestre e ano

###### A função CAST((CAST... e strftime(... Pode ser suibstituida por EXTRACT ou DATEPART no SQL Server ou outras no Oracle

In [30]:
tempo_query = '''
SELECT CAST((CAST(strftime('%m', Data) AS INTEGER) + 2) / 3 AS INTEGER) AS Quadrimestre
    , strftime('%Y', Data) as Ano
FROM Compra
'''

df = pd.read_sql(tempo_query, engine)
print(df.head(5))

   Quadrimestre   Ano
0             4  2024
1             1  2023
2             3  2024
3             1  2022
4             3  2023

#### Resgatando query de cliente

In [38]:
df = pd.read_json(r'OLTP\Clientes_Dados_Complementar.json')

print(df.head(5))

#precisa tratar ainda

                                            Cliente
0  {'ID': 1, 'Estado_civil': 'S', 'Qtde_filhos': 1}
1  {'ID': 2, 'Estado_civil': 'C', 'Qtde_filhos': 2}
2  {'ID': 3, 'Estado_civil': 'C', 'Qtde_filhos': 4}
3  {'ID': 4, 'Estado_civil': 'S', 'Qtde_filhos': 3}
4  {'ID': 5, 'Estado_civil': 'C', 'Qtde_filhos': 1}